<h1> Mi Vu</h1>

    <p class="grey-copy">
        My name was supposed to be Mimi when I came from the womb, but my name was cut in half when my birth certificate was processed. My mother didn't feel the need to correct is and just rolled with it. So that is how I got this name. Some people call me Mimi (to either avoid their own self confusion, or because they are a cutesy female friend) but I only allow it if I find them ok. My full name is actually Mi Phuong Vu and I like it just fine. 
    </p>

    <p>
    </p>

    <p class="grey-copy">
        I was born on November 1, 1993 and rocked a bowl cut for a good part of my childhood. I'm saying I rocked it to avoid being traumatized by it, to be quite fair. It looked horrible, but at least I matched well with my older brother. Same hair cut as him, and wore his hand-me-down clothes. So I guess I was a tomboy by default. My upbringing was, I believe, a decent one though. I am priveleged to have a family that is there for me, and food that was always on the table.
    </p>


